.desktop_image {
    display: none !important;
}

.mobile_image {
    display: block !important;
}

@media (min-width: 900px) {
    .desktop_image {
        display: block !important;
    }

    .mobile_image {
        display: none !important;
    }
}
