.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem; 
  overflow-y: hidden;
}

.footerGrid{
  width: 100%;
}

.footerGridItem{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  padding: 0.5rem;
}

.footer img {
  margin-left: 1rem;
}

.f_socials {
  margin-left: 0.5rem;
}

@media (max-width: 900px) {
  .footer p {
    text-align: center;
  }
  .footer img {
    margin-left: 2rem;
  }
}
