# THIS IS A SAMPLE OF ENV FOR THE API SERVER.

# Default Port 443
#PORT=3001

# USE STRONG KEY
SECRET_KEY=''

# ADMIN TOKEN TO CREATE ADMIN ACCOUNTS (TEMPORARY SOLUTION)
ADMIN_TOKEN=''

# AZURE SQL SERVER CONNECTION
SQL_USER=''
SQL_PASSWORD=''
SQL_HOST=''
SQL_PORT=3306

# AZURE SQL DATABASE
SQL_DATABASE_COURSE=''

# AZURE STORAGE ACCOUNT
AZURE_STORAGE_ACCOUNT_NAME=''
AZURE_STORAGE_ACCOUNT_KEY=''
